.cart {
    width: 100%;
    max-width: 330px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(110%, 0);
    transition: all 400ms ease;
}

.cart_items {
    flex-grow: 1;
    overflow: auto;
}

.cart_resumo {
    font-size: 1.5em;
    font-weight: 500;
    padding: 35px 0 15px;
    border-top: 1px solid #ddd;
}

.cart_items .cart_item:last-child {
    border-bottom: none;
}

.cart_active {
    transform: translate(0, 0 );
}

.btt_compra {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.btt_compra:hover {
    background-color: blue;
    color: #fff;
    transition: 1s;
    transform: scaleY(1.3);
}

.cart_compra {
    font-size: 17px;
    margin-left: 20px;
}

.cart_quantidade {
    margin-left: 5px;
    color: red;
}